/* цвет акцент #2196F3 
белый цвет #FFFFFF
цвет фона секции темный #2F303A 
цвет фона секции серый #F5F4FA 
 цвет фона секции беловатый #F5F5F5
 цвет текста #212121
 цвет абзаца #757575
*/

:root {
    --accent-color: #2196F3;
    --heder-bg-color: #FFFFFF;
    --primery-bg-color: #2F303A;
    --section-one-color: #F5F5F5;
    --section-two-color: #F5F4FA;
    --primery-text-color: #212121;
    --paragraph-text-color: #757575;
}

body {
   color: var(--primery-text-color);

   font-family: Roboto, sans-serif;
   letter-spacing: 0.03em;
   }

.list {
    list-style: none;
}

/* header */

.header {
    background-color: var(--heder-bg-color);
}

/* logo */

.logo {
    color: #000000;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-item  {
    color: var(--accent-color);
}

/* site nav */

.site-nav .link {
    color: var(--primery-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.auth-nav .link {
    color: var(--paragraph-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.auth-nav .link:hover {
    color: var(--accent-color);
}

/* hero */
.hero {
    background-color: var(--primery-bg-color);
}

.hero-title {
    color: #FFFFFF;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.button {
    background-color: var(--accent-color);
    color: #FFFFFF;
    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

/* section */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    }

/* features */

.features-list .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-list .text {
    color: var(--paragraph-text-color);

    font-size: 14px;
    line-height: 1.71;
}

/* Our team */

.team-list .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    }

.team-list .text{
    color: var(--paragraph-text-color);

     line-height: 1.19;
}

/* footer */

.page-footer {
    background-color: var(--primery-bg-color);
    }

.logo.footers  {
    color: #FFFFFF;
}

.page-footer .text {
    color: #FFFFFF;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.page-footer .link {
    color: rgba(255, 255, 255, 0.6);;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.page-footer .link:hover,
.page-footer .link:focus {
    color: var(--accent-color);
}



/* PORTFOLIO
 */

 /* filtr */

.button-filtr {
    color: #000000;
    background-color: var(--section-two-color);
    cursor: pointer;

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em
}

.button-filtr:hover,
.button-filtr:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

/* Works */

.portfolio-works .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-works .text {
    color: var(--paragraph-text-color);

    line-height: 1.88;
}